// imports

@import "/src/assets/scss/variables.scss";

/*
-------------------------------------------------------------------------
<============================ header overLay  ============================>
-------------------------------------------------------------------------
*/
.menuOverLay {
  .MuiPaper-root {
    min-width: 340px;
    overflow: visible;
    margin-top: 20px;
    background-color: #f5f3ff;
    &::before {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      left: 14px;
      width: 10px;
      height: 10px;
      background: #f5f3ff;
      transform: translateY(-50%) rotate(45deg);
      z-index: 0;
    }
    .MuiList-root {
      padding: 0;
      border: 1px solid #e5e5e5;
      border-radius: 5px;
      .MuiMenuItem-root {
        padding: 0;
        @extend p;
        padding: 15px 20px;
        &:hover {
          background-color: $white;
          border-right: 3px solid $black;
        }
      }
      a.active {
        .MuiMenuItem-root {
          color: $purple;
        }
      }
    }
  }
}
/*
-------------------------------------------------------------------------
<============================ header wrap  ============================>
-------------------------------------------------------------------------
*/

.headWrap {
  width: 100%;
  h1,
  p {
    text-align: center;
  }
}

/*
-------------------------------------------------------------------------
<============================ course cards   ============================>
-------------------------------------------------------------------------
*/
.courseCard {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  border: 2px solid #fbeaff;
  border-radius: 10px;
  overflow: hidden;

  .cardImg {
    border-bottom: 1px solid #fbeaff;
    img {
      width: 100%;
      max-height: 322px;
    }
  }
  .cardDet {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 20px;
    h3 {
      width: 100%;
      text-align: center;
      margin-bottom: 40px;
    }
  }
}

/*
-------------------------------------------------------------------------
<============================ train cards   ============================>
-------------------------------------------------------------------------
*/

.trainCard {
  position: relative;
  z-index: 1;
  overflow: hidden;
  padding: 30px;
  background-color: $white;
  box-shadow: 0px 0px 10px rgb(0 0 0 / 6%);
  border-radius: 5px;
  .iconWrap {
    padding: 12px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    width: fit-content;
    margin-bottom: 15px;
    background-color: $white;
    position: relative;
    z-index: 1;
  }
  h3.t-2 {
    margin-bottom: 15px;
    position: relative;
    z-index: 1;
    transition: all 0.3s ease-in-out;
  }
  p {
    position: relative;
    z-index: 1;
    transition: all 0.3s ease-in-out;
  }
  .abstract {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    right: 0px;
    background-color: $purple;
    z-index: 0;
    transition: all 0.3s ease-in-out;

    &.l {
      transform: translateX(-100%);
    }
    &.t {
      transform: translateY(-100%);
      &:hover {
        transform: translateY(0);
      }
    }
    &.r {
      transform: translateX(100%);
      &:hover {
        transform: translateX(0);
      }
    }
    &.b {
      transform: translateY(100%);
      &:hover {
        transform: translateY(0);
      }
    }
  }
  &:hover .abstract.l {
    transform: translateX(0);
  }
  &:hover .abstract.t {
    transform: translateY(0);
  }
  &:hover .abstract.r {
    transform: translateX(0);
  }
  &:hover .abstract.b {
    transform: translateY(0);
  }
  &:hover {
    color: $white;
  }
}

/*
-------------------------------------------------------------------------
<============================ for swiper  ============================>
-------------------------------------------------------------------------
*/

.testimonialSwiper {
  width: 100%;
  margin-top: 80px;
  padding-bottom: 80px;
  overflow-y: visible;

  .swiper-wrapper {
    width: 100% !important;
  }
  .swiper-slide {
    width: 100% !important;
  }

  .swiperWrap {
    padding: 60px 100px 30px 100px;
    background: $white;
    border-radius: 10px;
    position: relative;
    .topAbstract {
      position: absolute;
      width: 116px;
      height: 15px;
      background-color: $purple;
      top: 30px;
      left: 40%;
      border-radius: 20px;
    }
    h1 {
      color: $lightYellow;
      text-align: center;
      width: 100%;
      margin-bottom: 35px;
    }
    .left {
      .imgWrap {
        position: relative;
        padding: 40px 25px 25px 48px;
        width: fit-content;
        img {
          width: 170px;
          height: 170px;
          border-radius: 50%;
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
          position: relative;
          z-index: 4;
        }
        .roundAbstract {
          position: absolute;
          top: 30px;
          left: 38px;
          width: 190px;
          height: 190px;
          border-radius: 50%;
          background-color: $yellow;
          z-index: 3;
        }
        .roundAbstract-2 {
          position: absolute;
          top: 0px;
          left: 0px;
          width: 141px;
          height: 141px;
          border-radius: 50%;
          background-color: $yellow;
          z-index: 2;
        }
        .roundAbstract-3 {
          position: absolute;
          top: 15px;
          left: 23px;
          width: 220px;
          height: 220px;
          border-radius: 50%;
          background-color: $purple;
          z-index: 1;
        }
      }
    }
    .right {
      color: $black;
      p {
        position: relative;
        span {
          position: absolute;
          color: #33333380;
          font-size: 60px;
        }
        .q-l {
          left: -40px;
          top: -20px;
        }
        .q-r {
          right: -40px;
          bottom: -20px;
        }
      }
      h1,
      h3 {
        text-align: start;
        color: $purple;
      }
      h1 {
        margin-bottom: 0;
        margin-top: 30px;
      }
    }
  }

  .swiper-pagination {
    .swiper-pagination-bullet,
    .swiper-pagination-bullet.swiper-pagination-bullet-active-next {
      width: 15px !important;
      height: 15px !important;
      background-color: $white !important;
      opacity: 1;
    }
  }
}

/*
-------------------------------------------------------------------------
<============================ for accordion   ============================>
-------------------------------------------------------------------------
*/

.accordionWrap {
  .MuiPaper-root {
    background: #fdfdfd;
    border-radius: 5px;
    box-shadow: none;
    &:not(:last-child) {
      margin-bottom: 30px;
    }
    &::before {
      display: none;
    }
    .MuiAccordionSummary-root {
      padding: 26px 30px;
      min-height: fit-content;
    }
    .MuiAccordionSummary-content {
      margin: 0;
    }
    .MuiAccordionDetails-root {
      padding: 0 30px 26px 45px;
    }
  }
}

/*
-------------------------------------------------------------------------
<============================ for contact form  ============================>
-------------------------------------------------------------------------
*/

.formWrap {
  background: $lightYellow;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  margin-top: 70px;
  padding: 60px;

  .formElem {
    display: flex;
    min-width: 100%;
    &:not(:last-child) {
      margin-bottom: 30px;
    }
    .formLabel {
      display: flex;
      width: 100%;
      justify-content: flex-start;
      font-size: 14px;
      font-weight: 500;
      line-height: 17px;
      margin-bottom: 6px;
    }
    .MuiInputBase-root {
      border-radius: 5px;
      background-color: $white;
      display: flex;
      align-items: center;
      input {
        padding: 7px 11px;
        @extend .t-input;
        &:focus-visible {
          outline: none;
        }
      }
      &.Mui-focused .MuiOutlinedInput-notchedOutline {
        border-color: $purple;
        border-width: 1px;
      }
    }

    // text area
    textarea {
      width: 100%;
      border-radius: 5px;
      background-color: $white;
      border: 1px solid rgba(0, 0, 0, 0.23);
      padding: 7px 11px;
      min-height: 100px;

      @extend .t-input;
      &:focus-visible {
        outline: none;
      }
      &:focus {
        border-color: $purple;
        border-width: 1px;
      }
      &:hover {
        border: 1px solid black;
      }
    }

    // select
    .MuiAutocomplete-root {
      .MuiInputBase-root {
        padding: 0 !important;
      }
      .MuiAutocomplete-endAdornment {
        button {
          padding: 0 !important;
        }
      }
    }
  }

  .formElemWrap {
    .formElem {
      min-width: auto;
      &:not(:last-child) {
        margin-bottom: 0px;
      }
    }
  }
}

/*
-------------------------------------------------------------------------
<========================= for philosophy cards ========================>
-------------------------------------------------------------------------
*/

.philCard {
  width: 325px;
  height: 400px;
  background-color: $lightYellow;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  place-content: flex-end;
  align-items: center;
  color: $black;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  overflow: hidden;
  position: relative;
  h2 {
    width: 100%;
    transition: all 0.5s ease-in-out;
  }
  p {
    opacity: 0;
    margin-top: 15px;
    transition: all 0.5s ease-in-out;
    padding: 0 2.5px;
  }
  .philHovIcon {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    background: $white;
    box-shadow: inset 5px -3px 8px rgba(0, 0, 0, 0.25);
    position: relative;
    transition: all 0.5s ease-in-out;
    position: absolute;
    right: -100%;
    top: -100%;
    .iconWrap {
      position: absolute;
      bottom: 43px;
      left: 43px;
    }
  }
  &:not(:nth-child(1)) {
    padding-bottom: 70px;
  }
  // hover
  &:not(:nth-child(1)):hover {
    padding-bottom: 80px;
  }
  &:hover {
    background-color: $yellow;
    padding: 30px;
    h2 {
      font-weight: 500;
      font-size: 22px;
      line-height: 34px;
    }
    p {
      opacity: 1;
    }
    .philHovIcon {
      right: -87px;
      top: -87px;
    }
  }
}

/*
-------------------------------------------------------------------------
<========================= for Tool cards ========================>
-------------------------------------------------------------------------
*/

.toolCard {
  background: $white;
  padding: 30px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  .iconWrap {
    padding: 25px;
    background: #fdfdfd;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 104.5px;
    margin-bottom: 30px;
    svg {
      width: 50px;
      height: 49px;
    }
  }
  .toolCardDesc {
    width: 100%;
    text-align: center;
    font-size: 21px;
    line-height: 26px;
    font-weight: 500;
  }
}

/*
-------------------------------------------------------------------------
<========================= for key cards ========================>
-------------------------------------------------------------------------
*/

.keyCard {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  background-color: $lightYellow;
  color: $black;
  overflow: hidden;
  cursor: pointer;
  transition: all 1s ease-in-out;
  position: relative;
  .scrollText {
    font-size: 150px;
    font-weight: 500;
    line-height: 189px;
    color: $yellow;
    white-space: nowrap;
    padding-left: 30px;
    position: absolute;
    width: fit-content !important;
  }
  .descWrap {
    padding: 200px 30px 30px 30px;
  }

  & * {
    transition: all 1s ease-in-out;
  }
  // hover
  &:hover {
    background-color: $yellow;
    .scrollText {
      color: $black;
      transform: translateX(-68%);
    }
  }
}

/*
-------------------------------------------------------------------------
<========================= for contact form ========================>
-------------------------------------------------------------------------
*/

.contactDrawer {
  .MuiPaper-root {
    width: 100%;
    height: 100%;
    .contactWrapContent {
      .left {
        padding: 80px 0px 80px 20px;
      }
      .right {
        padding: 80px 20px 100px 0px;
        background-color: $purple;
        color: $white;
        .iconWrap.cross {
          cursor: pointer;
        }
        h1 {
          margin-bottom: 20px;
        }
        .contactPoint {
          display: flex;
          place-content: flex-start;
          align-items: center;
          cursor: pointer;
          .iconWrap {
            margin-right: 20px;
          }
          &:not(:last-child) {
            margin-bottom: 20px;
          }
        }
        .addressWrap {
          width: 100%;
          margin-left: 45px;
          margin-top: -10px;
        }
        .contactDet {
          .socialIcon {
            .footIcon {
              path {
                fill: $lightYellow;
              }
              &:not(:last-child) {
                margin-right: 20px;
              }
            }
          }
        }
      }
    }
  }
}

/*
-------------------------------------------------------------------------
<========================= for side navigation ========================>
-------------------------------------------------------------------------
*/

.sideNavDrawer {
  .MuiPaper-root {
    max-width: 350px;
    .iconWrap {
      padding: 20px;
      cursor: pointer;
      svg {
        width: 20px;
        height: 20px;
        path {
          fill: $black;
        }
      }
    }
    .sideMenuWrap {
      .sideMenu {
        cursor: pointer;
        padding: 10px 20px;
        width: 100%;
        text-transform: uppercase;
        &:hover {
          background-color: #e5e7eb;
          .MuiPaper-root {
            background-color: #e5e7eb;
          }
        }

        // for expand menu
        .MuiPaper-root {
          box-shadow: none;
        }
        .MuiButtonBase-root {
          padding: 0;
          min-height: fit-content;
          .MuiAccordionSummary-content {
            margin: 0;
          }
        }
        .MuiAccordionDetails-root {
          padding: 0;
        }
      }
      a.active {
        .sideMenu {
          p {
            color: $purple;
          }
        }
      }
      .sideMenu:has(a.active) {
        .parentMenu {
          color: $purple;
        }
      }
    }
  }
}
